body {
    font-family: monospace;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
    font-stretch: condensed;
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

#board {
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background: url(Connect4Board.png);
    z-index: 2;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    border: .03em solid darkblue;
    height: auto;
    width: 91.42857143px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    align-items: center;
}

#reset {
    margin-top: 15px;
    background: black;
    color: white;
    font-family: monospace;
    font-size: 2em;
    border-radius: .5em;
    border: .03em solid blue;
    padding: .2em;
}

#black {
    height: 80px;
    width: 84px;
    border-radius: 40px;
    background: black;
    z-index: -1;
    
}
#red {
    height: 80px;
    width: 84px;
    border-radius: 40px;
    background: red;
    z-index: -1;
}

#winner {
    font-size: 5em;
    text-align: center;
    display: none;
    border-radius: 50px;
    padding: 20px; 
    font-family: 'Erica One', cursive;
    margin-top: -.5em;
}
