body {
    text-align: center;
    background: #dfe3e6;
}

h1 {
    font-size: 6em;
    margin-bottom: 0;
    font-family: 'Luckiest Guy', monospace;
    color:#1c5ddd;
    font-variant: small-caps;
    font-stretch: extra-expanded;
}

#board {
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background: url(Connect4Board.png);
    z-index: 2;
    border: 5px solid black;
    border-radius: 15px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid darkblue;
    height: auto;
    width: 91.42857143px;
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
    align-items: center;
    border-radius: 10px;
}

.column:hover {
    box-shadow: 1px 0 10px rgb(28, 185, 224);
}

#reset {
    margin-top: 15px;
    background: black;
    color: white;
    font-family: monospace;
    font-size: 2em;
    border-radius: .5em;
    border: .03em solid blue;
    padding: .2em;
}

#black {
    height: 80px;
    width: 84px;
    border-radius: 40px;
    background: black;
    z-index: -1;
    
}
#red {
    height: 80px;
    width: 84px;
    border-radius: 40px;
    background: red;
    z-index: -1;
}

#winner {
    font-size: 2em;
    text-align: center;
    display: none;
    border-radius: 50px;
    padding: 20px; 
    font-family: 'Luckiest Guy', monospace;
    margin-top: -.3em;
    margin-bottom: 0;
}

.gamePiece {
    animation-name: fall-animation;
    animation-duration: 900ms;
  }
  
  @keyframes fall-animation {
    from {
        transform: translateY(-280px);
    }
    to {
        transform: translateY(0);
    }
  }